@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic");

/*
	Directive by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

body {
	-webkit-text-size-adjust: none;
}

/* Box Model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Containers */

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 51em;
}

/* Basic */

html, body {
	height: 100%;
}

body {
	background: #ffffff;
}

body, input, select, textarea {
	color: #6e6e6e;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16pt;
	font-weight: 400;
	line-height: 1.75em;
}

a {
	color: #279fcf;
	text-decoration: none;
	border: transparent;
	transition: 200ms;
}

a:hover {
	border-bottom: solid 1px;
	transition: 200ms;
}

strong, b {
	font-weight: 600;
	color: #5b5b5b;
}

em, i {
	font-style: italic;
}

p, ul, ol, dl, table, blockquote, form {
	margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #5b5b5b;
	font-weight: 700;
	letter-spacing: 0.125em;
	line-height: 1.75em;
	margin-bottom: 1em;
	text-transform: uppercase;
	text-align: center;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.1em;
}

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

/* Main */

main {
	padding: 2em 0 5em 0;
	position: relative;
	z-index: 1;
}


/*NAV*/
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	transition: 200ms;
}
nav ul{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: center;
	-webkit-justify-content: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	padding: 15px;
	margin: 0;
}

nav .aNav{
	color: #fff;
	padding : 15px;
	text-decoration: none;
	border: none;
	transition: 200ms;
}
nav .aNav:hover{
	transition: 200ms;
	background-color: rgba(255, 255, 255, 0.11);
}
.btnMenu{
	display: none;
}
.test{
	background-color: #279fcf;
	box-shadow: 1px 0px 20px #2975a5;
	transition: 200ms;
}

.logo-nav img{
	padding: 10px;
	max-width: 150px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
/* Section/Article */

section{
	margin-bottom: 30px;
}
/*Header*/
header img{
	padding-top: 100px;
}

header p {
	position: relative;
	top: -1em;
	text-transform: uppercase;
	letter-spacing: 0.075em;
	margin-top: 30px;
	color: #fff;
}

header{
	background-attachment: scroll,  scroll, fixed;
	background-image: url("images/top-3200.svg"), url("images/overlay.png");
	background-position: bottom center, top left,center center;
	background-repeat: repeat-x,repeat, no-repeat;
	background-size: 3200px 460px, auto, cover;
	color: #fff;
	padding: 30px 0 10em 0;
	position: relative;
	text-align: center;
}

footer {
	text-align: center;
}

footer.major {
	border-bottom-width: 1px;
	border-color: rgba(224, 224, 224, 0.75);
	border-style: solid;
	border-top-width: 1px;
	margin-top: 6em;
	padding: 4em 0;
	position: relative;
}

footer.major:before, footer.major:after {
	background: rgba(224, 224, 224, 0.75);
	content: '';
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
}

footer.major:before {
	top: 10px;
}

footer.major:after {
	bottom: 10px;
}

/* Form */

label {
	color: #fff;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 0.125em;
	line-height: 1.75em;
	text-transform: uppercase;
	margin: 0 0 0.5em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	background: none;
	border-radius: 4px;
	border: solid 1px rgba(224, 224, 224, 0.75);
	color: inherit;
	display: block;
	outline: 0;
	padding: 0.75em;
	text-decoration: none;
	width: 100%;
	opacity: 1;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
	background: rgba(224, 224, 224, 0.15);
	border-color: #279fcf;
}

.formPart1{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flexbox;
}

.formPart1 div{
	width: 100%;
	padding: 10px 10px;
	text-align: left;
}
.formPart2{
	padding: 10px 10px 20px 10px;
	text-align: left;
}

/* Button */

input[type="submit"]{
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	border-radius: 4px;
	border: 0;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 0.9em;
	font-weight: 700;
	letter-spacing: 0.125em;
	line-height: 3.25em;
	min-width: 15em;
	padding: 0 1.5em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.presentation{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	margin: auto;
	max-width: 1500px;
	margin-top: 0;
	margin-bottom: 50px;
}

.presentation p{
	margin: 0;
}

.content{
	max-width: 340px;
	padding: 40px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
	cursor: pointer;
	border: transparent;
	transition: 300ms;
}
.content:hover{
	transition: 300ms;
	background-color: #0099cc;
	color: #fff;
}
.content:hover h3{
	transition: 100ms;
	color: #fff;
}
.logos{
	text-align: center;
}
.logos a{
	border: none;
}
.logos a:hover{
	border: none;
}

.liste{
	margin-bottom: 0;
}

.rondLogos{
	width: 200px;
	height: 200px;
	margin: 0 auto 15px auto;
}

.rondLogos img{
	max-width: 125px;
}
.rondLogos a{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: center;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	height: 100%;
	border-radius: 50%;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
	transition: 200ms;
}
.logosRond{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: center;
	-webkit-justify-content: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.logosRond a:hover{
	transition: 200ms;
	border: solid 4px #0099cc;
}


/* Footer */

footer {
	background-attachment: scroll;
	background-color: #279fcf;
	background-image: url("images/bottom-3200.svg");
	background-position: top center;
	background-repeat: repeat-x;
	background-size: 3200px 460px;
	margin-top: -260px;
	padding: calc(460px + 6em) 0 10em 0;
	position: relative;
	text-align: center;
	color: #fff;
}

footer h2{
	color: #ffffff;
}

footer input[type="submit"], footer input[type="reset"], footer input[type="button"], footer .button {
	background: #ffffff;
	box-shadow: inset 0 0 0 1px #ffffff;
	color: #279fcf;
}

footer input[type="submit"]:hover{
	background: rgba(224, 224, 224, 0.15);
	color: #ffffff;
}

footer input[type="text"]:focus, footer input[type="password"]:focus, footer input[type="email"]:focus, footer select:focus, footer textarea:focus {
	border-color: #ffffff;
}

footer form {
	margin: 3em 0;
}

footer .copyright {
	font-size: 0.8em;
	line-height: 1em;
	margin: 3em 0 0 0;
}

footer .copyright li {
	display: inline-block;
	margin-left: 10px;
}

footer .copyright li:first-child {
	padding: 0;
	margin: 0;
	border: 0;
}
footer .copyright a {
	color: #fff;
}
footer .copyright a:hover {
	border-bottom: solid 1px #fff;
}



/* Wide */

@media screen and (max-width: 1680px) {
	.container {
		width: 51em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1em;
	}
	body, input, select, textarea {
		font-size: 14pt;
	}
	.presentation .content{
		max-width: 300px;
		padding: 30px;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
		cursor: pointer;
		border: transparent;
		transition: 300ms;
		margin-left: 5px;
		margin-right: 5px;
	}
	.presentation{
		margin-left: 30px;
		margin-right: 30px;
	}
	.logo-nav img{
		padding: 5px;
		max-width: 150px;
	}
}

/* Normal */

@media screen and (max-width: 1314px) {
	.box {
		padding: 0 2.5em 0 2.5em;
		margin-bottom: 0;
	}
	.container {
		width: 48em;
		margin-bottom: 0;
	}
	main{
		padding-bottom: 0;
	}
	h2 {
		font-size: 1.35em;
	}
	body, input, select, textarea {
		font-size: 13pt;
	}
	.presentation .content{
		min-width: 430px;
		margin: 15px;
	}
	.presentation{
		justify-content: center;
	}
	.logo-nav img{
		padding: 5px;
		max-width: 142px;
	}

}

/* Narrow */

@media screen and (max-width: 995px) {
	.container {
		width: 95%;
	}
	body, input, select, textarea {
		font-size: 12pt;
	}
	.presentation .content{
		min-width: 340px;
		margin: 15px;
		max-width: 400px;
	}

}

/* Narrower */

@media screen and (max-width: 900px) {
	.container {
		width: 95% !important;
	}
	.presentation .content{
		max-width: 500px;
		margin: 10px;
	}

	/*Menu collapse*/
	nav li{
		margin-bottom: 10px;
	}
	.btnMenu{
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		padding: 15px;
		width: 60px;
		height: 60px;
		transition: 200ms;
		background-color: rgba(255, 255, 255, 0.11);
		cursor: pointer;
	}
	nav[data-menuActif="true"]{
		background-color: #279fcf;
		box-shadow: 1px 0 20px #2975a5;
		transition: 200ms;
	}
	nav[data-menuActif="true"] ul{
		flex-direction: column;
		-webkit-flex-direction: column;
		padding: 15px;
		margin: 0;
		display: block;
	}
	nav[data-menuActif="false"] ul{
		display: none;
	}
	nav[data-menuActif="false"]{
		height: 60px;
		transition: 200ms;
		background-color: #279fcf;
	}
	#btnIcon{
		font-size: 20px;
	}
	.logo-nav img{
		position: relative;

	}
}

/* Mobile */

@media screen and (max-width: 736px) {
	.logos{
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flexbox;
		justify-content: center;
		-webkit-justify-content: center;
		flex-direction: column;
		-webkit-flex-direction: column;
	}
	.logos a{
		margin-bottom: 20px;
	}
	.box {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.container {
		width: 90% !important;
	}
	h2 {
		font-size: 1em;
	}
	nav .aNav{
		padding : 10px;
	}
	footer .formPart1{
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}
}

/* Mobile (Portrait) */

@media screen and (max-width: 480px) {
	nav{
		width: 100%;
	}
}

