#header img.logo {
    background: none;
    height: auto;
    width: auto;
}

.logoPrinc {
    max-width: 780px;
    width: 80%;
}

.error {
    color: #c20000;
}

#footer form {
    margin: 1em 0;
}

.msgSuccess {
    background: #ffffff;
    box-shadow: inset 0 0 0 1px #ffffff;
    color: #0099cc;
    border-radius: 3px;
    padding: 5px 15px;
    display: inline-block;
}

ul.studit {
    list-style: none;
}

ul.studit li:before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-image: url('../medias/images/logo_gris.png');
    background-size: contain;
    margin-right: 8px;
}

#footer {
    background-color: #0099cc;
}

#footer input[type="submit"], #footer input[type="reset"], #footer input[type="button"], #footer .button {
    color: #0099cc;
}

.questionnairePage #header {

}

.logoSym {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logoSym img {
    width: 200px;
    margin: 0 10px;
}

.logoSym a {
    border: none;
}

.inlineLink img {
    width: calc(50% - 20px);
    max-width: 300px;
}

.noDecoLink {
    border-bottom: none;
}

.nuageLink {
    vertical-align: middle;
    display: inline-block;
}

.nuageLink img {
    width: calc(70% - 20px);
}

.imgHabill {
    display: flex;
    justify-content: space-around;
}

.imgHabill ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.imgHabill > div {
    margin-right: 20px;
    flex: 1;
}

.imgHabill img {
    width: 100%;
    margin-right: 20px;
}

@media (max-width: 980px) {
    .logoSym img {
        width: 150px;
    }

    .imgHabill {
        flex-direction: column;
    }

    .imgHabill img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 800px) {
    .logoSym img {
        width: 150px;
    }

    .logoSym {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

.grecaptcha-badge {
    display: none !important;
}

@media screen and (max-width: 736px) {
    .iframevimeo {
        height: 350px;
    }
}
@media screen and (max-width: 600px) {
    .iframevimeo {
        height: 200px;
    }
}
